<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/htmx.min.js"></script>
    <title>back on track is harder than tidal wave</title>
</head>
<body>
    <h1>Geometry Dash Macros</h1>
    <div class="tabs">
        <div class="tab-labels">
            <label class="tab-label" for="tab1" 
                hx-get="/pages/robtop-levels.html" 
                hx-trigger="click" 
                hx-target="#main-content" 
                hx-swap="innerHTML"
            >RobTop Levels</label>
            <label class="tab-label" for="tab2"
                hx-get="/pages/hacked-macros.html" 
                hx-trigger="click" 
                hx-target="#main-content" 
                hx-swap="innerHTML"
                >Hacked Dash Series</label>
            <label class="tab-label" for="tab3"
                hx-get="/pages/normal-levels.html" 
                hx-trigger="click" 
                hx-target="#main-content" 
                hx-swap="innerHTML"
            >Normal</label>
            <label class="tab-label" for="tab4"
                hx-get="/pages/TOTHERECENTTAB.html" 
                hx-trigger="click" 
                hx-target="#main-content" 
                hx-swap="innerHTML"
            >Recent</label>
            <label class="tab-label" for="tab5"
                hx-get="/pages/upload.html" 
                hx-trigger="click" 
                hx-target="#main-content" 
                hx-swap="innerHTML"
            >Upload</label>
        </div>
    </div>
    <div id="main-content">
        <h1>Placeholder for content.</h1>
    </div>
</body>
</html>